
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /DevSchool-2017-Carlota-Azoulay/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /DevSchool-2017-Carlota-Azoulay/index.php [L]
</IfModule>

# END WordPress